/* Dynamically generated styles for the theme, this comes after our style.css */

body {
	font-weight:400;font-style:normal;font-size:16px;line-height:24px;color:#000000;
	background-color: #FFFFFF;
}



.wrapper {
	background-color: #ffffff;
}

#loader {
	background-color: #ffffff;
}

.top-holder .navbar-nav > li > a,
.top-minor-menu > li > a {
    font-weight:400;font-style:normal;font-size:18px;line-height:24px;;
}

.top-holder .navbar-brand {
	height: 60px;
	margin-top: 25px;
    margin-bottom: 25px;
}

.top-holder .navbar-brand > img {
	height: 60px;
	width: 248px;
}

.top-holder {
	font-family: ;
	font-weight: 400;	
}

/* Navigation & Dropdown menu */
.nav .open > a, .nav .open > a:hover, 
.nav .open > a:focus {
	background-color: #eeeeee;
	color: #000000;
}
	
.dropdown-menu {
	background-color: rgba(255,255,255,1);
	color: #000000;
}

.dropdown-menu .new-column-title {
	color: #000000;
	font-weight: bolder;
}

.dropdown-menu > li a:hover,
.dropdown-menu > li > a,
.dropdown-menu > .active > a:hover {
	color: #000000;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus,
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color: #000000;
	background-color: #eeeeee;
}	

.navbar-default .navbar-nav .open .dropdown-menu > .active > a, 
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, 
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
	background-color: rgba(255,255,255,1);
    color: #000000;
}

.dropdown-submenu>a:after {
    border-left-color: rgba(0,0,0,0.5);
}

.new-column:not(:last-child) {
    border-right: 1px solid rgba(0,0,0,0.25);
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
	color: rgba(222,31,46,1);
}

.navbar-default .navbar-nav > li > a,
.navbar-default .top-minor-menu > li > a,
.navbar-default .nav-menu-secondary > li > a {
    color: #000000;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #000000;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .top-minor-menu > li > a:hover,
.navbar-default .nav-menu-secondary > li > a:hover {
    color: rgba(222,31,46,1);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .current-menu-parent > a,
.navbar-default .navbar-nav > .current-menu-ancestor > a {
	background: none;
	color: rgba(222,31,46,1);
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	background: none;
	color: rgba(222,31,46,1);
}

.navbar-nav>li.menu-item:hover >a,
.navbar-nav>li.menu-item:focus >a {
	color: rgba(222,31,46,1);
}

.navbar-nav>li.menu-item:hover,
.navbar-nav>li.menu-item.active:not(.cart-list),
.navbar-nav>li.menu-item:focus,
.navbar-nav>li.menu-item.current-menu-ancestor {
	border-top: 4px solid rgba(222,31,46,1);
	margin-top: -4px;
}



@media (max-width: 991px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: rgba(222,31,46,1);
		background-color: rgba(255,255,255,1);
	}

	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #000000;
	}
}



h1 {
	font-family:Roboto Slab;font-weight:400;font-style:normal;font-size:32px;line-height:35px;color:#ffffff;
}
h2 {
	font-family:Roboto Slab;font-weight:400;font-style:normal;font-size:24px;line-height:30px;color:#000000;
}
h3 {
	font-family:Roboto Slab;font-weight:400;font-style:normal;font-size:20px;line-height:24px;color:#000000;
}
h4 {
	font-family:Roboto Slab;font-weight:400;font-style:normal;font-size:18px;line-height:34px;color:#000000;
}
h5 {
	font-family:Roboto Condensed;font-weight:400;font-style:normal;font-size:20px;line-height:28px;color:#000000;
}
h6 {
	font-family:Roboto Slab;font-weight:400;font-style:normal;font-size:18px;line-height:25px;color:#000000;
}

.border-bottom {border-bottom: 1px solid rgba(222,31,46,1); padding-bottom: 5px;}

/* footer styles */
.footer-holder { background-color: #ffffff; }
.footer, .footer-centered {
	color: #000000;
}





/* Above Navigation  & Top Slide */


.above-nav { 
	color: #222222;
	background-color: #efefef;
	border-top: 4px solid rgba(222,31,46,1);
}
.above-nav, .no-above {
	
}
.above-nav a {
	color: #c4c4c4;
}

.above-nav .above-social li i {
	color: #c4c4c4;
}

.above-social li a:hover i {
	color: rgba(222,31,46,1);
	}

/* End Above Navigation */
.navbar-bg-col { 
	background-color: rgba(255,255,255,1);; 
	border-top: 1px solid rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
}

ul.offcanvas-list li:hover a,
ul.offcanvas-list li.current-menu-item a {
	box-shadow: -4px 0px 0px 0px rgba(222,31,46,1);
	color: rgba(222,31,46,1);
}

.title-section {
	background-color: transparent;
	color: #000000;
}

.title-section h1 {
	color: #000000;
} 

.title-section a, .title-section a:visited, .title-section a:active {
	color: #de1f2e;
}
.title-section a:hover {
	color: rgba(222,31,46,1);
}

.entry-meta {
   	border-top: 1px solid rgba(0,0,0,0.25);
   	border-bottom: 1px solid rgba(0,0,0,0.25);
}
/* Login Widget */
ul.tabs_login li.active_login a {
	color: rgba(222,31,46,1);
}

/* Like Buttons */
a.jm-post-like.liked {
	color: rgba(222,31,46,1);
}

a.jm-post-like:hover,
a.jm-post-like:active,
a.jm-post-like:focus,
a.liked:hover,
a.liked:active,
a.liked:focus { /* default on hover */
   	color: rgba(0,0,0,1);
}

#top-slide {
	background-color: #555555;
	color: #eeeeee;
}
#top-slide a {
	color: #ffffff;
}

#top-slide h1, #top-slide h2, #top-slide h3, #top-slide h4, #top-slide h4, #top-slide h5, #top-slide h6 {
	color: #ffffff;
}

a.top-slide-control {
	border-right-color: #555555;
}

.footer-widget-holder { background-color: #ffffff; }
.footer-widget-holder { color: #020202; }
.footer-widget h1, .footer-widget h2, .footer-widget h3, .footer-widget h4, .footer-widget h5, .footer-widget h6 { 
	color: #ffffff;
}



.footer-widget ul:not(.sh_adswidget_ul):not(.no-bullet) li a {
	border-bottom: 1px solid rgba(2,2,2,0.25);
}

.footer-widget.widget_shtab ul li a {
	border-bottom: 0;
}

.footer-widget a, .footer-widget a:visited {
	color: #020202;
}
.footer-widget a:hover {
	color: rgba(222,31,46,1);
}

.footer-widget .tagcloud a {
	color: #020202;
	border: 1px solid #020202;
}

.footer-widget .like-left i.behind {
	color: #020202;
}


#wp-calendar tbody { border: 1px solid rgba(0,0,0,0.25); }

.accent, .opened { color: rgba(222,31,46,1) !important; }

/* Shortcodes */
.sh-dropcap.theme.foreground { color: rgba(222,31,46,1); }
.sh-dropcap.theme.background { background: rgba(222,31,46,1); color: #fff }

.sh-highlight.foreground.accentcolor {color:rgba(222,31,46,1); }
.sh-highlight.background.accentcolor {background:rgba(222,31,46,1); color:#fff;}

.section-title.boxed { border: 2px solid rgba(0,0,0,1); }

.sh-popover {
	color: rgba(222,31,46,1);
}

.imageframe-overlay {
	background: rgba(222,31,46,1);
}

ul.sh-checklist.background i,
ol.sh-checklist.background li:before {
	color: #fff;
	background-color: rgba(222,31,46,1);
}

.social-networks li a:hover { color: #de1f2e; }
.social-icon a:hover { color: #de1f2e; }
blockquote { border-left: 5px solid rgba(222,31,46,1); }
a,
a:visited,
a:active { color: #000000; }
a:hover, a:focus { color: rgba(222,31,46,1); }

a.upToTop:active, a.upToTop:hover {
	color: rgba(222,31,46,1);
}

.wpb_tabs li.ui-state-default.ui-tabs-active { box-shadow: inset 0 3px 0px 0px rgba(222,31,46,1); }
.wpb_tour .wpb_tabs_nav li.ui-state-default.ui-tabs-active { border-top: 3px solid rgba(222,31,46,1); }
.wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper.ui-tabs > ul > li.ui-state-active {
	    border-bottom: 1px solid #ffffff;
}

.page_nav a {
	background: rgba(222,31,46,1);
}

.prev_next {
	border-top: 1px solid rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
}

.page_nav .current {
	background: rgba(222,31,46,0.8);
}

.page_nav a:hover {
	background: rgba(222,31,46,0.8);
}

input, .contact-mesg, #comment {
	color: rgba(0,0,0,1);
}

.sidebar-section { border-bottom: 1px solid rgba(0,0,0,0.25); }


.like-left { color: rgba(222,31,46,1); }

.section-bar {
	background-color: rgba(0,0,0,1);
}

.symbol-title {
	color: rgba(222,31,46,1);
}

button, #submit, .sh-btn, .sh-format .vc_read_more {
	background: rgba(222,31,46,1);
	color: #fff;
}

.sh-btn:hover, .sh-btn:visited, .sh-btn:active {
	color: #fff;
}

.sh-btn-alt:hover, .sh-btn-alt:visited, .sh-btn-alt:active {
	color: #fff;
}

.vc_read_more:visited {
	color: rgba(0,0,0,1);
}

.vc_read_more:hover, .vc_read_more:active {
	color: #fff;
}

button:hover, .sh-btn:hover, #submit:hover, .vc_read_more:hover {
	background: rgba(222,31,46,0.8);
}

.tagcloud a { 
	color: #fff; 
}
.tagcloud a:hover {
	background-color: rgba(222,31,46,1);
	color: #fff;
}

/* Portfolios */

.portfolio-item .port-zoom {
	color: #fff;
	background-color: rgba(222,31,46,1);
}

.portfolio-item .port-link {
	color: #fff;
	background-color: rgba(222,31,46,1);
}

.portfolio-item .port-desc {
	border-top: 1px solid rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
}

.portfolio-item2  .port-holder {
	background: -webkit-linear-gradient(0deg, rgba(222,31,46,1), rgba(222,31,46,0.8) 80%) no-repeat;
   	background: linear-gradient(0deg, rgba(222,31,46,1), rgba(222,31,46,0.8) 80%) no-repeat;
}

.port-cats {
	border-top: 1px solid rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
}

.port-cats ul li a:hover,
.port-cats ul li a:active {
	color: rgba(222,31,46,1);
}

.port-cats ul li a.active {
	color: rgba(222,31,46,1);
}

.timeline-badge {
	background-color: rgba(222,31,46,1);
}

/* Woo Commerce */
.navbar-default .navbar-nav > .active > a.top-cart:hover,
.navbar-default .navbar-nav > .active > a.top-cart {
	color: #000000;
	background: none;
}

.top-cart-amount {
	color: #ffffff;
	background-color: rgba(222,31,46,1);
}

/* buttons */
.woocommerce-page div.product form.cart .button, 
.woocommerce-page #content div.product form.cart .button,
.woocommerce-page input.checkout-button.wc-forward,
.woocommerce-page input#place_order, 
.woocommerce-page #respond .form-submit input#submit {
	background: rgba(222,31,46,1);
	color: #fff;
	border: 1px solid rgba(222,31,46,1);
} 

.woocommerce-page div.product form.cart .button:hover, 
.woocommerce-page #content div.product form.cart .button:hover, 
.woocommerce-page input.checkout-button.wc-forward:hover,
.woocommerce-page input#place_order:hover,
.woocommerce-page #respond .form-submit input#submit:hover {
	background: rgba(222,31,46,0.8);
	color: #fff;
	border: 1px solid rgba(222,31,46,1);
}

/* messages */
.star-rating span {
	color: rgba(222,31,46,1);
}

.star-rating:hover span {
	color: rgba(222,31,46,0.8);
}

.woo-added-notice-inner { background: rgba(222,31,46,0.8); }

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
   	background-color: #ffffff;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::before {
	box-shadow: 2px 2px 0px #ffffff;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range, 
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
	background-image:none;
	background-color: rgba(222,31,46,0.8) !important;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, 
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
	background: rgba(222,31,46,1) !important;
	border: none;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content, 
.woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background: rgba(0,0,0,0.25) !important;
}

.woocommerce-pagination .page-numbers a {
	background: rgba(222,31,46,1);
}

.woocommerce nav.woocommerce-pagination ul li span.current, 
.woocommerce nav.woocommerce-pagination ul li a:hover, 
.woocommerce nav.woocommerce-pagination ul li a:focus, 
.woocommerce #content nav.woocommerce-pagination ul li span.current, 
.woocommerce #content nav.woocommerce-pagination ul li a:hover, 
.woocommerce #content nav.woocommerce-pagination ul li a:focus, 
.woocommerce-page nav.woocommerce-pagination ul li span.current, 
.woocommerce-page nav.woocommerce-pagination ul li a:hover, 
.woocommerce-page nav.woocommerce-pagination ul li a:focus, 
.woocommerce-page #content nav.woocommerce-pagination ul li span.current, 
.woocommerce-page #content nav.woocommerce-pagination ul li a:hover, 
.woocommerce-page #content nav.woocommerce-pagination ul li a:focus {
	background: rgba(222,31,46,0.8);
	color: #fff;
}

.woocommerce-pagination .page-numbers a:hover {
	background: rgba(222,31,46,0.8);
}
